/* General Formatting - DO NOT TOUCH UNCOMMENTED LINES UNLESS YOU KNOW WHAT YOU ARE DOING! */

body {
/* Background Picture */
	background: url('bg.png');
/* Font Color */
	color: #ffffff;
/* Font Type */
	font-family: Sans, sans-serif;
}

a {
/* Link Color */
	color: #ffffff;
/* Link Size */
	font-size: 10px;
/* Link Text Decoration - underline, overline, etc. */
	text-decoration: none;
	text-align: right;
}


#one {
	position: absolute;
/* Block 01 Position from top edge */
	top: 100px;
/* Block 01 Position from left edge */
	left: 100px;
	padding-left: 5px;
/* Block 01 Left Border */
	border-left: 0px solid #000000;
}

#two {
	position: absolute;
/* Block 02 Position from top edge */
	top: 100px;
/* Block 02 Position from left edge */
	left: 220px;
	padding-left: 5px;
/* Block 02 Left Border */
	border-left: 0px solid #000000;
}

#three {
	position: absolute;
/* Block 03 Position from top edge */
	top: 100px;
/* Block 03 Position from left edge */
	left: 340px;
	padding-left: 5px;
/* Block 03 Left Border */
	border-left: 0px solid #000000;
}

#four {
	position: absolute;
/* Block 04 Position from top edge */
	top: 100px;
/* Block 04 Position from left edge */
	left: 460px;
	padding-left: 5px;
/* Block 04 Left Border */
	border-left: 0px solid #000000;
}

#five {
	position: absolute;
/* Block 05 Position from top edge */
	top: 100px;
/* Block 05 Position from left edge */
	left: 580px;
	padding-left: 5px;
/* Block 05 Top Border */
	border-left: 0px solid #000000;
}

#six {
	position: absolute;
/* Block 06 Position from top edge */
	top: 100px;
/* Block 06 Position from left edge */
	left: 700px;
	padding-left: 5px;
/* Block 06 Top Border */
	border-left: 0px solid #000000;
}

#seven {
	position: absolute;
/* Block 07 Position from top edge */
	top: 100px;
/* Block 07 Position from left edge */
	left: 820px;
	padding-left: 5px;
/* Block 07 Top Border */
	border-left: 0px solid #000000;
}



.number {
/* Number Font Size */
	font-size: 50px;
}

.title {
/* Title Font Size */
	font-size: 14px;
	margin-bottom: 20px;
	
}

.search {
/* Search Font Size */
	font-size: 18px;
	margin-bottom: 0px;
}


/* JS Formatting - DO NOT TOUCH UNLESS YOU KNOW WHAT YOU ARE DOING! */

div#menu {
	width: 100px;
	height: 80px;
	overflow: hidden;
}

div#menut {
	width: 100px;
	height: 80px;
	overflow: hidden;
}

div#menuth {
	width: 100px;
	height: 80px;
	overflow: hidden;
}

div#menuf {
	width: 100px;
	height: 80px;
	overflow: hidden;
}

div#menuh {
	width: 100px;
	height: 80px;
	overflow: hidden;
}
	
div#menug {
	width: 100px;
	height: 80px;
	overflow: hidden;
}

div#menur {
	width: 100px;
	height: 80px;
	overflow: hidden;
}


/* cc BY-NC-SA License :: k3ttc4r :: 2008 :: http://k3ttc4r.deviantart.com */
/* background by Alexander-GG :: http://alexander-gg.deviantart.com */
